* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121212;
  --sidebar-color: #1e1e1e;
  --card-color: #242424;
  --text-color: #ffffff;
  --secondary-color: #b3b3b3;
  --accent-color: #4f46e5;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.sidebar {
  width: 250px;
  background-color: var(--sidebar-color);
  padding: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: var(--accent-color);
}
